<% layout("/layouts/boilerplate") %>
<body>
  <h1>All Listings</h1>
  <!-- <form action="/listings/new" method="GET">
      <button>Create Listing</button>
    </form> -->
  <a href="/listings/new">Create</a>
  <ul>
    <% for(let data of allListings){%>
    <li>
      <a href="/listings/<%=data._id%>"> <%= data.title%> </a>
    </li>
    <% } %>
  </ul>
</body>
